<div class="content-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Assets</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-primary ml-2" href="/assets/new" role="button">Add Asset</a>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Assignment</th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.id %></td>
        <td><%= asset.name %></td>
        <td><%= asset.description %></td>
        <td>
          <% if asset.images != nil && asset.images.length > 0 && asset.images[0] != nil %>
            <img class="img-fluid asset-image" src="<%= asset.images[0].path %>" />
          <% end %>
        </td>
        <td>
          <%= simple_form_for asset, wrapper_html: { class: 'form-horizontal' } do |f| %>
            <div class="row">
              <div class="col">
                <%=
                  f.input :user,
                  label: false,
                  collection: (@users.map { |r| [r.id, r.email] }).concat([[-1, "Unassigned"]]),
                  label_method: :second,
                  value_method: :first,
                  selected: asset.user ? @users.index { |x| x.email == asset.user.email } + 1 : -1
                %>
              </div>
              <div class="col">
                <%= f.submit 'Assign', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
